.delhiLogo{
    display: inline;
    height: 70px;
    width: 70px;
    /* object-fit: cover; */
}
body{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("assets/delhiLogo.png");
}